<div class="container mt-5">
    
    <div class="row">
        <mat-card>
            <form (submit)="formSubmit()">
            <div class="row">
                <div class="col-md-4">          
                <mat-form-field appearance="outline"class="w100">
                      <mat-label>Nom du candidat</mat-label>
                      <input 
                      [(ngModel)]="user.firstName"
                      name="firstName"
                      matInput placeholder="Placeholder">
                      <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                      <mat-hint>Name</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="espace w100 " appearance="outline">
                      <mat-label>Prenom du candidat</mat-label>
                      <input 
                      [(ngModel)]="user.lastName"
                      matInput placeholder="Placeholder"
                      [ngModelOptions]="{standalone: true}">
                      <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                      <mat-hint>Prenom</mat-hint>
                    </mat-form-field>
                </div>
                 <div class="col-md-4">
                    <mat-form-field class=" w100 espace" appearance="outline">
                      <mat-label>Mail du candidat</mat-label>
                      <input
                      [(ngModel)]="user.username"
                      name="lastName"
                      matInput placeholder="Placeholder">
                      <mat-icon matSuffix>contact_mail</mat-icon>
                      <mat-hint>Mail </mat-hint>
                    </mat-form-field>
                </div>
            
                </div>
                <button class="btn btn-success mt-3" type="submit">Ajouter candidat</button>

            </form>

         <!--   <input #myuser type="text" class="form-control" [placeholder]="CreateUser"> (click)="onclick(myuser)-->
            <!--<button class="btn btn-info  mt-3 espace" (click)="import()"><mat-icon>file_download</mat-icon>exporter</button>
            -->
       
            <table class="table table-bordered mt-3">
                <thead class="thead-light">
                    <tr>
                        <th>Sr.No</th>
                        <th>Nom Candidat</th>
                        <th>Email candidat</th>
                        <th>Supprimer Candidat</th>
                        <th>Envoyer invitation </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let us of users;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{us['firstName']}}  {{us['lastName']}} </td>
                    <td> {{us['username']}}</td>
                       <td>
                            <button (click)="ondelete(us['id'])" class="btn btn-danger">Supprimer candidat</button>
                        </td>
                        <td>
                            <button (click)="envoyerinvitation(us['username'])"  class=" espace btn btn-warning">Envoyer invitation</button>
                           <!-- <button type="button"   class="btn btn-info">Réenvoyer invitation</button>
                              -->
                        </td>
                    </tr>
                </tbody>
            </table>


    </mat-card>
    </div>
</div>