<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
<div class="confirm text-center" >
    <div class="alert alert-primary text-center"  role="alert">
        <h1>
            <b> Email envoyé veuillez vérifier votre boîte de réception 
           </b>
           </h1>
           
        <div class="vert text-center" >
         <img class="text-center" src="/assets/mail.png"/>
        </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/">Retouner à la page d'accueil</button>
   </div>
    </div>
</div>
