img{
    max-width: 50;
    max-height: 100px;
    margin-left: 50px;
    justify-content: center;
    transform: translate(-10%, 70%);
}
.vert{
    background-color: rgb(9, 227, 9);
     height: 300px;
}

.rouge{
    background-color: rgb(154, 98, 8);
    height: 300px;
}
h3{
    font-size: 30px;

}