.red{
   /* background-color:red;*/
    background-image: url("/assets/wrong tick.jpg");
}
.green{
  /* background-color:green;*/
   background-image: url("/assets/tick correcte.jpg");
}
.profile-image {
    max-width: 50;
    max-height: 50px;
    margin-left: 50px;
   /* border: 2px solid #ff4081;
    border-radius: 50%;*/
  }