
<div class="bootstrap-wrapper Background ">
    <div class="container ">
      <div class="row mt20">
        <h1 class="text-center">Bienvenue à la plateforme d'examen en ligne</h1>
        <div class="col-md-6 offset-md-3 text-center">
          <mat-card>
            <img class="text-center" src="/assets/arriere.png">
          </mat-card>
        <!--  <form [formGroup]="aFormGroup">
            <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha"
            >
            </ngx-recaptcha2>
          </form>
         -->
          <button mat-raised-button color="primary"> Page d'accueil </button>
        </div>
      </div>
    </div>
  </div>
