
          <router-outlet></router-outlet>
  



<!--<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
            <mat-card class="mt20">
                <img mat-card-image src="/assets/exam22.jpg"/>
           <mat-card-content> 
    <b>Bonjour Candidat, Voici les instructions à lire avant de passer l'examen
    </b>   9
       </mat-card-content>
        </mat-card>
        </div>
        <div class="col-md-10">
            <app-instruction></app-instruction>
          </div>
        </div>
      </div>
    </div>

-->