<mat-card id="content">
<ng-container *ngIf="cads">
    <h2>Email du candidat: {{cads.email}}</h2>
    <h2> Nom et prenom du candidat: {{cads.nom  }}  {{cads.prenom}}</h2>
    <h2>Note de l'examen {{cads.candidatexam.notetotal}}/20</h2>
</ng-container>
<ng-contain  *ngIf="questions">
    
    <mat-card *ngFor="let q of questions; let i = index">

    <mat-card-content>
        <p>
            <b>Q {{ i + 1 }})</b>
            <span class="ml10" [innerHTML]="q.content"></span>  {{q.point}}
          </p>
        
    
          <br/>
         <mat-divider></mat-divider>
   <div class="row mt20" *ngFor="let r of q.reponses;let j=index;let k=index " >
      <div class="col-md-12" [ngClass]="{red:q.reponses[j].estcorrecte==false,vert:q.reponses[j].estcorrecte==true}">
       
         {{q.reponses[j].reponse}}
      </div>
  </div>
    </mat-card-content>
</mat-card>
<br>
<div class="text-center">
<button mat-raised-button  (click)="makepdf()" class=" ml20 btn btn-info" >Télécharger le rapport</button>
<button mat-raised-button class="ml20" mat-dialog-close="" color="accent">Fermer </button>
</div>
</ng-contain>
</mat-card>